
<div class="App">
      <header class="App-header">
        <h1 class='App-h1'>Welcome to Gift Card Application</h1>
        <%= link_to "Sign Up", new_user_path%>
        <br/><br/>
        <br/>
        <%= link_to "Sign In", new_session_path%>
      </header>
    </div>
