.App {
    text-align: center;
  }
  
  
  
  .App-h1 {
    color: rgb(184, 24, 24);
    margin-top: 28px;
    margin-bottom: 50px;
  }
  
  .App-header {
      
    //background-image: url("images/wealth.jpg");
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
  
    font-size: calc(10px + 2vmin);
    color: rgb(251, 48, 48);
  }
  .margin{
      margin:32px;
     
  }